*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    height: 60px;
    border-radius: 50%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    padding: 7px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
    transition: .2s;
}

nav ul li a:hover{
    color: palevioletred;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    transition: .2s;
    
}

.detail{
    margin-left: 8%;
    margin-top: 10%;
}

.detail h1{
    font-size: 50px;
    color: #222;
    margin-bottom: 20px;
}

.detail span{
    color: lightcoral;
    transition: .3s;
}
.detail span:hover{
    color: purple;
    transition: .3s;
}

.detail p{
    color: #555;
    line-height: 22px;
}

.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border: 3px;
    border-color: #212121;
    border-style: outset;
    border-radius: 5px;
    transition: .3s;
}

.detail a:hover{
    background: transparent;
    color: #000;
    padding: 12px 20px;
    margin: 29px 0;
    transition: .3s;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 60%;
    position: absolute;
    left: 300px;
    bottom: 145px;
    transform: translateX(-50%);
    transition: .3s;
}

.images .profile-image{
    border-radius: 50%;
}

.images .profile-image:hover{
    height: 65%;
    bottom: 135px;
    transition: .3s;
}
